@model Mrazaky.Models.Food

@{
    ViewData["Title"] = "Delete";
}

<div>
<h4>Opravdu chcete potravinu smazat? <strong><span style="color:red;"></span></strong></h4>
    <br />
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FreezerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FreezerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPackages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPackages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackageLabel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackageLabel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FreezerPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FreezerPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePurchase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePurchase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BestBefore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BestBefore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FoodId" />
        <input type="submit" value="Smazat" class="add-button" /> |
        <a asp-action="Index" class="add-button">Zpět na seznam</a>
    </form>
</div>