@model IEnumerable<Mrazaky.Models.Response.FoodResponse>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<p>
    <a class="pridat-tlacitko" asp-action="Create">Přidat potravinu</a>
</p>
<table id="razeni" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPackages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestBefore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysToConsume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freezer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreezerPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageLabel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td class="text-tabulka-stred">
                    @Html.DisplayFor(modelItem => item.NumberOfPackages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePurchase)
                </td>
                @if (item.BestBefore <= DateTime.Today)
                {
                    <td class="bold" style="color:red">@Html.DisplayFor(modelItem => item.BestBefore)</td>
                }

                else if ((item.BestBefore - DateTime.Today).TotalDays < 30)
                {
                    <td class="bold" style="color:orange">@Html.DisplayFor(modelItem => item.BestBefore)</td>
                }

                else
                {
                    <td class="bold" style="color:green">@Html.DisplayFor(modelItem => item.BestBefore)</td>
                }
                <td class="text-tabulka-stred">
                    @Html.DisplayFor(modelItem => item.DaysToConsume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freezer)
                </td>
                <td class="text-tabulka-stred">
                    @Html.DisplayFor(modelItem => item.FreezerPosition)
                </td>
                <td class="text-tabulka-stred">
                    @Html.DisplayFor(modelItem => item.PackageLabel)
                </td>

                <td>
                    <a asp-action="Edit" class="pridat-tlacitko" asp-route-id="@item.FoodId">Upravit</a> |
                    <a asp-action="Delete" class="pridat-tlacitko" asp-route-id="@item.FoodId">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script type="text/javascript">


        $(document).ready(function () {
            $('#razeni').DataTable();
        });

    </script>
}



