@model IEnumerable<Mrazaky.Models.Response.FoodResponse>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<h4>Potraviny v mrazácích</h4>

<p>
    <a class="add-button" asp-action="Create">Přidat potravinu</a>
</p>
<table id="razeni" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreezerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPackages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageLabel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreezerPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestBefore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthsToConsume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FreezerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPackages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageLabel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FreezerPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePurchase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BestBefore)
                </td>
                @if (item.Consumption <= DateTime.Today)
                {
                    <td class="bold" style="color:red">@Html.DisplayFor(modelItem => item.Consumption)</td>
                }
                else if ((item.Consumption - DateTime.Today).TotalDays < 30)
                {
                    <td class="bold" style="color:orange">@Html.DisplayFor(modelItem => item.Consumption)</td>
                }
                else
                {
                    <td class="bold" style="color:green">@Html.DisplayFor(modelItem => item.Consumption)</td>
                }

                @if (item.MonthsToConsume < 0)
                {
                    <td class="bold" style="color:red">@Html.DisplayFor(modelItem => item.MonthsToConsume)</td>                    
                }
                else if (item.MonthsToConsume < 1)
                {
                    <td class="bold" style="color:orange">@Html.DisplayFor(modelItem => item.MonthsToConsume)</td>
                }
                else
                {
                    <td class="bold" style="color:green">@Html.DisplayFor(modelItem => item.MonthsToConsume)</td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td class="nowrap">
                    <a asp-action="Edit" class="add-button" asp-route-id="@item.FoodId">Upravit</a> |
                    <a asp-action="Delete" class="add-button" asp-route-id="@item.FoodId">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $('#razeni').DataTable(

            );
        });

    </script>
}



