@model IEnumerable<Mrazaky.Models.Response.FreezerResponse>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<h4>Přehled mrazáků</h4>

<p>
    <a class="add-button" asp-action="Create">Přidat mrazák</a> |
    <a class="add-button" asp-controller="Foods" asp-action="Index">Přidat potravinu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FreezerName)
            </th>
            <th class="text-table-center">
                @Html.DisplayNameFor(model => model.NumberOfShelves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDefrosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefrostInterval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextDefrosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysToDefrost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FreezerName)
                </td>
                <td class="text-table-center">
                    @Html.DisplayFor(modelItem => item.NumberOfShelves)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDefrosted)
                </td>
                <td class="text-table-center">
                    @Html.DisplayFor(modelItem => item.DefrostInterval)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextDefrosted)
                </td>
                @if (item.DaysToDefrost < 0)
                {
                    <td class="bold text-table-center" style="color:red">@Html.DisplayFor(modelItem => item.DaysToDefrost)</td>
                }

                else if (item.DaysToDefrost < 10)
                {
                    <td class="bold text-table-center" style="color:orange">@Html.DisplayFor(modelItem => item.DaysToDefrost)</td>
                }

                else
                {
                    <td class="bold text-table-center" style="color:green">@Html.DisplayFor(modelItem => item.DaysToDefrost)</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @if (User.Identity.Name == "pajaro@volny.cz" || User.Identity.Name == "andrearo@seznam.cz")
                    {
                        @if (item.FreezerName == "Sklep 748")
                        {
                            <a class="add-button" href="~/images/Sklep748_edit.jpg" target="_blank">Pohled na mrazák</a>
                        }
                        else if (item.FreezerName == "Kuchyně 748")
                        {
                            <a class="add-button" href="~/images/Kuchyne748_edit.jpg" target="_blank">Pohled na mrazák</a>
                        }
                        else if (item.FreezerName == "Kuchyně 833")
                        {
                            <a class="add-button" href="~/images/Kuchyne833_edit.jpg" target="_blank">Pohled na mrazák</a>
                        }
                    }
                    |
                    <a asp-action="Edit" class="add-button" asp-route-id="@item.FreezerId">Upravit</a> |
                    <a asp-action="Delete" class="add-button" asp-route-id="@item.FreezerId">Smazat</a> 
                </td>
            </tr>
        }
    </tbody>
</table>